<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Layout}">
	
<head>
	<title>Início</title>
</head>
	<section layout:fragment="conteudo">
		<div class="text-center">
			<p class="cor-fonte-cinza-escuro h1 negrito my-2">Bem vindo ao E-Atividade</p>
			<p class="cor-fonte-cinza-escuro h6 negrito my-2">O seu sistema eletrônico de atividade escolares.</p>
		</div>

	</section>
</html>